/.ackrc
/HTTP-Message-*/
/HTTP-Message-*.tar.gz
/MANIFEST.SKIP.bak
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/_eumm/
/blib/
/pm_to_blib
*.sw*
*~
.build
.nono/
.perl-version
.vscode/
!/.gitignore
